<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejobim.opplat.mapper.OrgGroupInfoMapper">
  <resultMap id="BaseResultMap" type="com.ejobim.opplat.domain.OrgGroupInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_name" jdbcType="VARCHAR" property="groupName" />
    <result column="parent_org" jdbcType="VARCHAR" property="parentOrg" />
    <result column="group_detail_info" jdbcType="OTHER" property="groupDetailInfo" />
    <result column="group_no" jdbcType="VARCHAR" property="groupNo" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, group_name, parent_org, group_detail_info, group_no
  </sql>
  <select id="selectByExample" parameterType="com.ejobim.opplat.domain.OrgGroupInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from org_group_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from org_group_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from org_group_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ejobim.opplat.domain.OrgGroupInfoExample">
    delete from org_group_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ejobim.opplat.domain.OrgGroupInfo">
    insert into org_group_info (id, group_name, parent_org, 
      group_detail_info, group_no)
    values (#{id,jdbcType=INTEGER}, #{groupName,jdbcType=VARCHAR}, #{parentOrg,jdbcType=VARCHAR}, 
      #{groupDetailInfo,jdbcType=OTHER}, #{groupNo,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ejobim.opplat.domain.OrgGroupInfo">
    insert into org_group_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupName != null">
        group_name,
      </if>
      <if test="parentOrg != null">
        parent_org,
      </if>
      <if test="groupDetailInfo != null">
        group_detail_info,
      </if>
      <if test="groupNo != null">
        group_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupName != null">
        #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="parentOrg != null">
        #{parentOrg,jdbcType=VARCHAR},
      </if>
      <if test="groupDetailInfo != null">
        #{groupDetailInfo,jdbcType=OTHER},
      </if>
      <if test="groupNo != null">
        #{groupNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ejobim.opplat.domain.OrgGroupInfoExample" resultType="java.lang.Integer">
    select count(*) from org_group_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update org_group_info
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.groupName != null">
        group_name = #{record.groupName,jdbcType=VARCHAR},
      </if>
      <if test="record.parentOrg != null">
        parent_org = #{record.parentOrg,jdbcType=VARCHAR},
      </if>
      <if test="record.groupDetailInfo != null">
        group_detail_info = #{record.groupDetailInfo,jdbcType=OTHER},
      </if>
      <if test="record.groupNo != null">
        group_no = #{record.groupNo,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update org_group_info
    set id = #{record.id,jdbcType=INTEGER},
      group_name = #{record.groupName,jdbcType=VARCHAR},
      parent_org = #{record.parentOrg,jdbcType=VARCHAR},
      group_detail_info = #{record.groupDetailInfo,jdbcType=OTHER},
      group_no = #{record.groupNo,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejobim.opplat.domain.OrgGroupInfo">
    update org_group_info
    <set>
      <if test="groupName != null">
        group_name = #{groupName,jdbcType=VARCHAR},
      </if>
      <if test="parentOrg != null">
        parent_org = #{parentOrg,jdbcType=VARCHAR},
      </if>
      <if test="groupDetailInfo != null">
        group_detail_info = #{groupDetailInfo,jdbcType=OTHER},
      </if>
      <if test="groupNo != null">
        group_no = #{groupNo,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejobim.opplat.domain.OrgGroupInfo">
    update org_group_info
    set group_name = #{groupName,jdbcType=VARCHAR},
      parent_org = #{parentOrg,jdbcType=VARCHAR},
      group_detail_info = #{groupDetailInfo,jdbcType=OTHER},
      group_no = #{groupNo,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>