<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejobim.opplat.mapper.TbAnalysisFillDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ejobim.opplat.domain.TbAnalysisFillDetail" >
    <id column="fill_detail_no" property="fillDetailNo" jdbcType="VARCHAR" />
    <result column="field_no" property="fieldNo" jdbcType="VARCHAR" />
    <result column="base_field_no" property="baseFieldNo" jdbcType="VARCHAR" />
    <result column="task_no" property="taskNo" jdbcType="VARCHAR" />
    <result column="field_name" property="fieldName" jdbcType="VARCHAR" />
    <result column="field_value" property="fieldValue" jdbcType="DOUBLE" />
    <result column="field_unit" property="fieldUnit" jdbcType="VARCHAR" />
    <result column="factory_no" property="factoryNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="create_user_code" property="createUserCode" jdbcType="VARCHAR" />
    <result column="create_user_name" property="createUserName" jdbcType="VARCHAR" />
    <result column="fill_time" property="fillTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    fill_detail_no, field_no, base_field_no, task_no, field_name, field_value, field_unit, 
    factory_no, create_time, create_user_code, create_user_name, fill_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_analysis_fill_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_analysis_fill_detail
    where fill_detail_no = #{fillDetailNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_analysis_fill_detail
    where fill_detail_no = #{fillDetailNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetailExample" >
    delete from tb_analysis_fill_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetail" >
    insert into tb_analysis_fill_detail (fill_detail_no, field_no, base_field_no, 
      task_no, field_name, field_value, 
      field_unit, factory_no, create_time, 
      create_user_code, create_user_name, fill_time
      )
    values (#{fillDetailNo,jdbcType=VARCHAR}, #{fieldNo,jdbcType=VARCHAR}, #{baseFieldNo,jdbcType=VARCHAR}, 
      #{taskNo,jdbcType=VARCHAR}, #{fieldName,jdbcType=VARCHAR}, #{fieldValue,jdbcType=DOUBLE}, 
      #{fieldUnit,jdbcType=VARCHAR}, #{factoryNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createUserCode,jdbcType=VARCHAR}, #{createUserName,jdbcType=VARCHAR}, #{fillTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetail" >
    insert into tb_analysis_fill_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="fillDetailNo != null" >
        fill_detail_no,
      </if>
      <if test="fieldNo != null" >
        field_no,
      </if>
      <if test="baseFieldNo != null" >
        base_field_no,
      </if>
      <if test="taskNo != null" >
        task_no,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="fieldValue != null" >
        field_value,
      </if>
      <if test="fieldUnit != null" >
        field_unit,
      </if>
      <if test="factoryNo != null" >
        factory_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="createUserCode != null" >
        create_user_code,
      </if>
      <if test="createUserName != null" >
        create_user_name,
      </if>
      <if test="fillTime != null" >
        fill_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="fillDetailNo != null" >
        #{fillDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="fieldNo != null" >
        #{fieldNo,jdbcType=VARCHAR},
      </if>
      <if test="baseFieldNo != null" >
        #{baseFieldNo,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null" >
        #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null" >
        #{fieldValue,jdbcType=DOUBLE},
      </if>
      <if test="fieldUnit != null" >
        #{fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="factoryNo != null" >
        #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null" >
        #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="fillTime != null" >
        #{fillTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_analysis_fill_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_analysis_fill_detail
    <set >
      <if test="record.fillDetailNo != null" >
        fill_detail_no = #{record.fillDetailNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldNo != null" >
        field_no = #{record.fieldNo,jdbcType=VARCHAR},
      </if>
      <if test="record.baseFieldNo != null" >
        base_field_no = #{record.baseFieldNo,jdbcType=VARCHAR},
      </if>
      <if test="record.taskNo != null" >
        task_no = #{record.taskNo,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldName != null" >
        field_name = #{record.fieldName,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldValue != null" >
        field_value = #{record.fieldValue,jdbcType=DOUBLE},
      </if>
      <if test="record.fieldUnit != null" >
        field_unit = #{record.fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryNo != null" >
        factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createUserCode != null" >
        create_user_code = #{record.createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="record.createUserName != null" >
        create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.fillTime != null" >
        fill_time = #{record.fillTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_analysis_fill_detail
    set fill_detail_no = #{record.fillDetailNo,jdbcType=VARCHAR},
      field_no = #{record.fieldNo,jdbcType=VARCHAR},
      base_field_no = #{record.baseFieldNo,jdbcType=VARCHAR},
      task_no = #{record.taskNo,jdbcType=VARCHAR},
      field_name = #{record.fieldName,jdbcType=VARCHAR},
      field_value = #{record.fieldValue,jdbcType=DOUBLE},
      field_unit = #{record.fieldUnit,jdbcType=VARCHAR},
      factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      create_user_code = #{record.createUserCode,jdbcType=VARCHAR},
      create_user_name = #{record.createUserName,jdbcType=VARCHAR},
      fill_time = #{record.fillTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetail" >
    update tb_analysis_fill_detail
    <set >
      <if test="fieldNo != null" >
        field_no = #{fieldNo,jdbcType=VARCHAR},
      </if>
      <if test="baseFieldNo != null" >
        base_field_no = #{baseFieldNo,jdbcType=VARCHAR},
      </if>
      <if test="taskNo != null" >
        task_no = #{taskNo,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldValue != null" >
        field_value = #{fieldValue,jdbcType=DOUBLE},
      </if>
      <if test="fieldUnit != null" >
        field_unit = #{fieldUnit,jdbcType=VARCHAR},
      </if>
      <if test="factoryNo != null" >
        factory_no = #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createUserCode != null" >
        create_user_code = #{createUserCode,jdbcType=VARCHAR},
      </if>
      <if test="createUserName != null" >
        create_user_name = #{createUserName,jdbcType=VARCHAR},
      </if>
      <if test="fillTime != null" >
        fill_time = #{fillTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where fill_detail_no = #{fillDetailNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejobim.opplat.domain.TbAnalysisFillDetail" >
    update tb_analysis_fill_detail
    set field_no = #{fieldNo,jdbcType=VARCHAR},
      base_field_no = #{baseFieldNo,jdbcType=VARCHAR},
      task_no = #{taskNo,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      field_value = #{fieldValue,jdbcType=DOUBLE},
      field_unit = #{fieldUnit,jdbcType=VARCHAR},
      factory_no = #{factoryNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      create_user_code = #{createUserCode,jdbcType=VARCHAR},
      create_user_name = #{createUserName,jdbcType=VARCHAR},
      fill_time = #{fillTime,jdbcType=TIMESTAMP}
    where fill_detail_no = #{fillDetailNo,jdbcType=VARCHAR}
  </update>
  <insert id="insertBatch"  parameterType="java.util.List">
    insert into tb_analysis_fill_detail (fill_detail_no, field_no, base_field_no,
        task_no, field_name, field_value,
        field_unit, factory_no, create_time,
        create_user_code, create_user_name, fill_time
    )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.fillDetailNo,jdbcType=VARCHAR}, #{item.fieldNo,jdbcType=VARCHAR}, #{item.baseFieldNo,jdbcType=VARCHAR},
      #{item.taskNo,jdbcType=VARCHAR}, #{item.fieldName,jdbcType=VARCHAR}, #{item.fieldValue,jdbcType=DOUBLE},
      #{item.fieldUnit,jdbcType=VARCHAR}, #{item.factoryNo,jdbcType=VARCHAR}, #{item.createTime,jdbcType=TIMESTAMP},
      #{item.createUserCode,jdbcType=VARCHAR}, #{item.createUserName,jdbcType=VARCHAR}, #{item.fillTime,jdbcType=TIMESTAMP}
      )
    </foreach>
  </insert>
</mapper>