<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ejobim.opplat.mapper.TbEquipFaultInfoMapper">
  <resultMap id="BaseResultMap" type="com.ejobim.opplat.domain.TbEquipFaultInfo">
    <id column="error_no" jdbcType="VARCHAR" property="errorNo" />
    <result column="factory_no" jdbcType="VARCHAR" property="factoryNo" />
    <result column="equip_no" jdbcType="VARCHAR" property="equipNo" />
    <result column="equip_name" jdbcType="VARCHAR" property="equipName" />
    <result column="equip_type_name" jdbcType="VARCHAR" property="equipTypeName" />
    <result column="equip_location" jdbcType="VARCHAR" property="equipLocation" />
    <result column="error_from" jdbcType="INTEGER" property="errorFrom" />
    <result column="error_type" jdbcType="VARCHAR" property="errorType" />
    <result column="error_location" jdbcType="VARCHAR" property="errorLocation" />
    <result column="error_content" jdbcType="VARCHAR" property="errorContent" />
    <result column="error_pictures" jdbcType="VARCHAR" property="errorPictures" />
    <result column="error_video" jdbcType="VARCHAR" property="errorVideo" />
    <result column="error_audio" jdbcType="VARCHAR" property="errorAudio" />
    <result column="flow_no" jdbcType="VARCHAR" property="flowNo" />
    <result column="detail_task_no" jdbcType="VARCHAR" property="detailTaskNo" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="report_user_code" jdbcType="VARCHAR" property="reportUserCode" />
    <result column="report_user_name" jdbcType="VARCHAR" property="reportUserName" />
    <result column="error_status" jdbcType="INTEGER" property="errorStatus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    error_no, factory_no, equip_no, equip_name, equip_type_name, equip_location, error_from, 
    error_type, error_location, error_content, error_pictures, error_video, error_audio, 
    flow_no, detail_task_no, update_time, report_user_code, report_user_name, error_status
  </sql>
  <select id="selectByExample" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_equip_fault_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_equip_fault_info
    where error_no = #{errorNo,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from tb_equip_fault_info
    where error_no = #{errorNo,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfoExample">
    delete from tb_equip_fault_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfo">
    insert into tb_equip_fault_info (error_no, factory_no, equip_no, 
      equip_name, equip_type_name, equip_location, 
      error_from, error_type, error_location, 
      error_content, error_pictures, error_video, 
      error_audio, flow_no, detail_task_no, 
      update_time, report_user_code, report_user_name,
      error_status
      )
    values (#{errorNo,jdbcType=VARCHAR}, #{factoryNo,jdbcType=VARCHAR}, #{equipNo,jdbcType=VARCHAR}, 
      #{equipName,jdbcType=VARCHAR}, #{equipTypeName,jdbcType=VARCHAR}, #{equipLocation,jdbcType=VARCHAR}, 
      #{errorFrom,jdbcType=INTEGER}, #{errorType,jdbcType=VARCHAR}, #{errorLocation,jdbcType=VARCHAR}, 
      #{errorContent,jdbcType=VARCHAR}, #{errorPictures,jdbcType=VARCHAR}, #{errorVideo,jdbcType=VARCHAR}, 
      #{errorAudio,jdbcType=VARCHAR}, #{flowNo,jdbcType=VARCHAR}, #{detailTaskNo,jdbcType=VARCHAR}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{reportUserCode,jdbcType=VARCHAR}, #{reportUserName,jdbcType=VARCHAR},
      #{errorStatus,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfo">
    insert into tb_equip_fault_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="errorNo != null">
        error_no,
      </if>
      <if test="factoryNo != null">
        factory_no,
      </if>
      <if test="equipNo != null">
        equip_no,
      </if>
      <if test="equipName != null">
        equip_name,
      </if>
      <if test="equipTypeName != null">
        equip_type_name,
      </if>
      <if test="equipLocation != null">
        equip_location,
      </if>
      <if test="errorFrom != null">
        error_from,
      </if>
      <if test="errorType != null">
        error_type,
      </if>
      <if test="errorLocation != null">
        error_location,
      </if>
      <if test="errorContent != null">
        error_content,
      </if>
      <if test="errorPictures != null">
        error_pictures,
      </if>
      <if test="errorVideo != null">
        error_video,
      </if>
      <if test="errorAudio != null">
        error_audio,
      </if>
      <if test="flowNo != null">
        flow_no,
      </if>
      <if test="detailTaskNo != null">
        detail_task_no,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="reportUserCode != null">
        report_user_code,
      </if>
      <if test="reportUserName != null">
        report_user_name,
      </if>
      <if test="errorStatus != null">
        error_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="errorNo != null">
        #{errorNo,jdbcType=VARCHAR},
      </if>
      <if test="factoryNo != null">
        #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="equipNo != null">
        #{equipNo,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null">
        #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipTypeName != null">
        #{equipTypeName,jdbcType=VARCHAR},
      </if>
      <if test="equipLocation != null">
        #{equipLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorFrom != null">
        #{errorFrom,jdbcType=INTEGER},
      </if>
      <if test="errorType != null">
        #{errorType,jdbcType=VARCHAR},
      </if>
      <if test="errorLocation != null">
        #{errorLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorContent != null">
        #{errorContent,jdbcType=VARCHAR},
      </if>
      <if test="errorPictures != null">
        #{errorPictures,jdbcType=VARCHAR},
      </if>
      <if test="errorVideo != null">
        #{errorVideo,jdbcType=VARCHAR},
      </if>
      <if test="errorAudio != null">
        #{errorAudio,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null">
        #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="detailTaskNo != null">
        #{detailTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportUserCode != null">
        #{reportUserCode,jdbcType=VARCHAR},
      </if>
      <if test="reportUserName != null">
        #{reportUserName,jdbcType=VARCHAR},
      </if>
      <if test="errorStatus != null">
        #{errorStatus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfoExample" resultType="java.lang.Integer">
    select count(*) from tb_equip_fault_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tb_equip_fault_info
    <set>
      <if test="record.errorNo != null">
        error_no = #{record.errorNo,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryNo != null">
        factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="record.equipNo != null">
        equip_no = #{record.equipNo,jdbcType=VARCHAR},
      </if>
      <if test="record.equipName != null">
        equip_name = #{record.equipName,jdbcType=VARCHAR},
      </if>
      <if test="record.equipTypeName != null">
        equip_type_name = #{record.equipTypeName,jdbcType=VARCHAR},
      </if>
      <if test="record.equipLocation != null">
        equip_location = #{record.equipLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.errorFrom != null">
        error_from = #{record.errorFrom,jdbcType=INTEGER},
      </if>
      <if test="record.errorType != null">
        error_type = #{record.errorType,jdbcType=VARCHAR},
      </if>
      <if test="record.errorLocation != null">
        error_location = #{record.errorLocation,jdbcType=VARCHAR},
      </if>
      <if test="record.errorContent != null">
        error_content = #{record.errorContent,jdbcType=VARCHAR},
      </if>
      <if test="record.errorPictures != null">
        error_pictures = #{record.errorPictures,jdbcType=VARCHAR},
      </if>
      <if test="record.errorVideo != null">
        error_video = #{record.errorVideo,jdbcType=VARCHAR},
      </if>
      <if test="record.errorAudio != null">
        error_audio = #{record.errorAudio,jdbcType=VARCHAR},
      </if>
      <if test="record.flowNo != null">
        flow_no = #{record.flowNo,jdbcType=VARCHAR},
      </if>
      <if test="record.detailTaskNo != null">
        detail_task_no = #{record.detailTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.reportUserCode != null">
        report_user_code = #{record.reportUserCode,jdbcType=VARCHAR},
      </if>
      <if test="record.reportUserName != null">
        report_user_name = #{record.reportUserName,jdbcType=VARCHAR},
      </if>
      <if test="record.errorStatus != null">
        error_status = #{record.errorStatus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tb_equip_fault_info
    set error_no = #{record.errorNo,jdbcType=VARCHAR},
      factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      equip_no = #{record.equipNo,jdbcType=VARCHAR},
      equip_name = #{record.equipName,jdbcType=VARCHAR},
      equip_type_name = #{record.equipTypeName,jdbcType=VARCHAR},
      equip_location = #{record.equipLocation,jdbcType=VARCHAR},
      error_from = #{record.errorFrom,jdbcType=INTEGER},
      error_type = #{record.errorType,jdbcType=VARCHAR},
      error_location = #{record.errorLocation,jdbcType=VARCHAR},
      error_content = #{record.errorContent,jdbcType=VARCHAR},
      error_pictures = #{record.errorPictures,jdbcType=VARCHAR},
      error_video = #{record.errorVideo,jdbcType=VARCHAR},
      error_audio = #{record.errorAudio,jdbcType=VARCHAR},
      flow_no = #{record.flowNo,jdbcType=VARCHAR},
      detail_task_no = #{record.detailTaskNo,jdbcType=VARCHAR},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      report_user_code = #{record.reportUserCode,jdbcType=VARCHAR},
      report_user_name = #{record.reportUserName,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfo">
    update tb_equip_fault_info
    <set>
      <if test="factoryNo != null">
        factory_no = #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="equipNo != null">
        equip_no = #{equipNo,jdbcType=VARCHAR},
      </if>
      <if test="equipName != null">
        equip_name = #{equipName,jdbcType=VARCHAR},
      </if>
      <if test="equipTypeName != null">
        equip_type_name = #{equipTypeName,jdbcType=VARCHAR},
      </if>
      <if test="equipLocation != null">
        equip_location = #{equipLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorFrom != null">
        error_from = #{errorFrom,jdbcType=INTEGER},
      </if>
      <if test="errorType != null">
        error_type = #{errorType,jdbcType=VARCHAR},
      </if>
      <if test="errorLocation != null">
        error_location = #{errorLocation,jdbcType=VARCHAR},
      </if>
      <if test="errorContent != null">
        error_content = #{errorContent,jdbcType=VARCHAR},
      </if>
      <if test="errorPictures != null">
        error_pictures = #{errorPictures,jdbcType=VARCHAR},
      </if>
      <if test="errorVideo != null">
        error_video = #{errorVideo,jdbcType=VARCHAR},
      </if>
      <if test="errorAudio != null">
        error_audio = #{errorAudio,jdbcType=VARCHAR},
      </if>
      <if test="flowNo != null">
        flow_no = #{flowNo,jdbcType=VARCHAR},
      </if>
      <if test="detailTaskNo != null">
        detail_task_no = #{detailTaskNo,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reportUserCode != null">
        report_user_code = #{reportUserCode,jdbcType=VARCHAR},
      </if>
      <if test="reportUserName != null">
        report_user_name = #{reportUserName,jdbcType=VARCHAR},
      </if>
      <if test="errorStatus != null">
        error_status = #{errorStatus,jdbcType=INTEGER},
      </if>
    </set>
    where error_no = #{errorNo,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejobim.opplat.domain.TbEquipFaultInfo">
    update tb_equip_fault_info
    set factory_no = #{factoryNo,jdbcType=VARCHAR},
      equip_no = #{equipNo,jdbcType=VARCHAR},
      equip_name = #{equipName,jdbcType=VARCHAR},
      equip_type_name = #{equipTypeName,jdbcType=VARCHAR},
      equip_location = #{equipLocation,jdbcType=VARCHAR},
      error_from = #{errorFrom,jdbcType=INTEGER},
      error_type = #{errorType,jdbcType=VARCHAR},
      error_location = #{errorLocation,jdbcType=VARCHAR},
      error_content = #{errorContent,jdbcType=VARCHAR},
      error_pictures = #{errorPictures,jdbcType=VARCHAR},
      error_video = #{errorVideo,jdbcType=VARCHAR},
      error_audio = #{errorAudio,jdbcType=VARCHAR},
      flow_no = #{flowNo,jdbcType=VARCHAR},
      detail_task_no = #{detailTaskNo,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      report_user_code = #{reportUserCode,jdbcType=VARCHAR},
      report_user_name = #{reportUserName,jdbcType=VARCHAR},
      error_status = #{errorStatus,jdbcType=INTEGER}
    where error_no = #{errorNo,jdbcType=VARCHAR}
  </update>

  <select id="selectUnFinishList" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from tb_equip_fault_info
    where factory_no = #{factoryNo,jdbcType=VARCHAR}
      and (error_status= 0 or error_status= 1 or error_status= 3)
      order by update_time desc;
  </select>

  <select id="selectUnFinishMapList" parameterType="java.lang.String"  resultType="java.util.Map">
    SELECT tab1.errorNo,tab1.detailTaskNo,tab1.equipName, tab1.errorStatus,tab1.locationNo , tab2.`location_name` locationName ,DATE_FORMAT(tab1.errorTime,'%Y-%m-%d %H:%i:%s') errorTime
    FROM(
      SELECT a.error_no errorNo ,a.`detail_task_no` detailTaskNo,a.`equip_name` equipName,b.`location_no` locationNo,
      a.`error_status` errorStatus,a.update_time errorTime
      FROM tb_equip_fault_info a LEFT JOIN tb_routing_task_detail b ON a.`detail_task_no` = b.`task_detail_no`
      where factory_no = #{factoryNo,jdbcType=VARCHAR}
      and (error_status= 0 or error_status= 1 or error_status= 3)
      order by update_time desc
    )
      tab1 LEFT JOIN tb_routing_location tab2 ON tab1.locationNo  = tab2.`location_no`;


  </select>


</mapper>