<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejobim.opplat.mapper.TbFillFormFieldExtendMapper" >
  <resultMap id="BaseResultMap" type="com.ejobim.opplat.domain.TbFillFormFieldExtend" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="cycle" property="cycle" jdbcType="INTEGER" />
    <result column="week" property="week" jdbcType="VARCHAR" />
    <result column="mouth" property="mouth" jdbcType="VARCHAR" />
    <result column="config_no" property="configNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="vaild_time" property="vaildTime" jdbcType="VARCHAR" />

  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, start_time, type, cycle, week, mouth, config_no, create_time, vaild_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtendExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_fill_form_field_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_fill_form_field_extend
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_fill_form_field_extend
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtendExample" >
    delete from tb_fill_form_field_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtend" >
    insert into tb_fill_form_field_extend (id, start_time, type, 
      cycle, week, mouth, 
      config_no, create_time, vaild_time
      )
    values (#{id,jdbcType=INTEGER}, #{startTime,jdbcType=TIMESTAMP}, #{type,jdbcType=INTEGER}, 
      #{cycle,jdbcType=INTEGER}, #{week,jdbcType=VARCHAR}, #{mouth,jdbcType=VARCHAR}, 
      #{configNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{vaildTime,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtend" >
    insert into tb_fill_form_field_extend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="startTime != null" >
        start_time,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="cycle != null" >
        cycle,
      </if>
      <if test="week != null" >
        week,
      </if>
      <if test="mouth != null" >
        mouth,
      </if>
      <if test="configNo != null" >
        config_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="vaildTime != null" >
        vaild_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="startTime != null" >
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        #{cycle,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        #{week,jdbcType=VARCHAR},
      </if>
      <if test="mouth != null" >
        #{mouth,jdbcType=VARCHAR},
      </if>
      <if test="configNo != null" >
        #{configNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vaildTime != null" >
        #{vaildTime,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtendExample" resultType="java.lang.Integer" >
    select count(*) from tb_fill_form_field_extend
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_fill_form_field_extend
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.startTime != null" >
        start_time = #{record.startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=INTEGER},
      </if>
      <if test="record.cycle != null" >
        cycle = #{record.cycle,jdbcType=INTEGER},
      </if>
      <if test="record.week != null" >
        week = #{record.week,jdbcType=VARCHAR},
      </if>
      <if test="record.mouth != null" >
        mouth = #{record.mouth,jdbcType=VARCHAR},
      </if>
      <if test="record.configNo != null" >
        config_no = #{record.configNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.vaildTime != null" >
        vaild_time = #{record.vaildTime,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_fill_form_field_extend
    set id = #{record.id,jdbcType=INTEGER},
      start_time = #{record.startTime,jdbcType=TIMESTAMP},
      type = #{record.type,jdbcType=INTEGER},
      cycle = #{record.cycle,jdbcType=INTEGER},
      week = #{record.week,jdbcType=VARCHAR},
      mouth = #{record.mouth,jdbcType=VARCHAR},
      config_no = #{record.configNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      vaild_time = #{record.vaildTime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtend" >
    update tb_fill_form_field_extend
    <set >
      <if test="startTime != null" >
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="cycle != null" >
        cycle = #{cycle,jdbcType=INTEGER},
      </if>
      <if test="week != null" >
        week = #{week,jdbcType=VARCHAR},
      </if>
      <if test="mouth != null" >
        mouth = #{mouth,jdbcType=VARCHAR},
      </if>
      <if test="configNo != null" >
        config_no = #{configNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="vaildTime != null" >
        vaild_time = #{vaildTime,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ejobim.opplat.domain.TbFillFormFieldExtend" >
    update tb_fill_form_field_extend
    set start_time = #{startTime,jdbcType=TIMESTAMP},
      type = #{type,jdbcType=INTEGER},
      cycle = #{cycle,jdbcType=INTEGER},
      week = #{week,jdbcType=VARCHAR},
      mouth = #{mouth,jdbcType=VARCHAR},
      config_no = #{configNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      vaild_time = #{vaildTime,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <delete id="deleteTbFillFormFieldExtendByConfigNo" parameterType="java.lang.String" >
    delete from tb_fill_form_field_extend
    where config_no = #{configNo,jdbcType=VARCHAR}
  </delete>
</mapper>