<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ejobim.opplat.mapper.TbSynBaseDetailMapper" >
  <resultMap id="BaseResultMap" type="com.ejobim.opplat.domain.TbSynBaseDetail" >
    <result column="id" property="id" jdbcType="INTEGER" />
    <result column="uri" property="uri" jdbcType="VARCHAR" />
    <result column="typeDefinitionUri" property="typedefinitionuri" jdbcType="VARCHAR" />
    <result column="BrowsePath" property="browsepath" jdbcType="VARCHAR" />
    <result column="Description" property="description" jdbcType="VARCHAR" />
    <result column="BrowseName" property="browsename" jdbcType="VARCHAR" />
    <result column="DisplayName" property="displayname" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="Value" property="value" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="factory_no" property="factoryNo" jdbcType="VARCHAR" />
    <result column="parent_uri" property="parentUri" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, uri, typeDefinitionUri, BrowsePath, Description, BrowseName, DisplayName, name, 
    Value, create_time, factory_no, parent_uri
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.ejobim.opplat.domain.TbSynBaseDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_syn_base_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.ejobim.opplat.domain.TbSynBaseDetailExample" >
    delete from tb_syn_base_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.ejobim.opplat.domain.TbSynBaseDetail" >
    insert into tb_syn_base_detail (id, uri, typeDefinitionUri, 
      BrowsePath, Description, BrowseName, 
      DisplayName, name, Value, 
      create_time, factory_no, parent_uri
      )
    values (#{id,jdbcType=INTEGER}, #{uri,jdbcType=VARCHAR}, #{typedefinitionuri,jdbcType=VARCHAR}, 
      #{browsepath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{browsename,jdbcType=VARCHAR}, 
      #{displayname,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{value,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{factoryNo,jdbcType=VARCHAR}, #{parentUri,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ejobim.opplat.domain.TbSynBaseDetail" >
    insert into tb_syn_base_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uri != null" >
        uri,
      </if>
      <if test="typedefinitionuri != null" >
        typeDefinitionUri,
      </if>
      <if test="browsepath != null" >
        BrowsePath,
      </if>
      <if test="description != null" >
        Description,
      </if>
      <if test="browsename != null" >
        BrowseName,
      </if>
      <if test="displayname != null" >
        DisplayName,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="value != null" >
        Value,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="factoryNo != null" >
        factory_no,
      </if>
      <if test="parentUri != null" >
        parent_uri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uri != null" >
        #{uri,jdbcType=VARCHAR},
      </if>
      <if test="typedefinitionuri != null" >
        #{typedefinitionuri,jdbcType=VARCHAR},
      </if>
      <if test="browsepath != null" >
        #{browsepath,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="browsename != null" >
        #{browsename,jdbcType=VARCHAR},
      </if>
      <if test="displayname != null" >
        #{displayname,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="value != null" >
        #{value,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="factoryNo != null" >
        #{factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="parentUri != null" >
        #{parentUri,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.ejobim.opplat.domain.TbSynBaseDetailExample" resultType="java.lang.Integer" >
    select count(*) from tb_syn_base_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_syn_base_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.uri != null" >
        uri = #{record.uri,jdbcType=VARCHAR},
      </if>
      <if test="record.typedefinitionuri != null" >
        typeDefinitionUri = #{record.typedefinitionuri,jdbcType=VARCHAR},
      </if>
      <if test="record.browsepath != null" >
        BrowsePath = #{record.browsepath,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        Description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.browsename != null" >
        BrowseName = #{record.browsename,jdbcType=VARCHAR},
      </if>
      <if test="record.displayname != null" >
        DisplayName = #{record.displayname,jdbcType=VARCHAR},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.value != null" >
        Value = #{record.value,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.factoryNo != null" >
        factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      </if>
      <if test="record.parentUri != null" >
        parent_uri = #{record.parentUri,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_syn_base_detail
    set id = #{record.id,jdbcType=INTEGER},
      uri = #{record.uri,jdbcType=VARCHAR},
      typeDefinitionUri = #{record.typedefinitionuri,jdbcType=VARCHAR},
      BrowsePath = #{record.browsepath,jdbcType=VARCHAR},
      Description = #{record.description,jdbcType=VARCHAR},
      BrowseName = #{record.browsename,jdbcType=VARCHAR},
      DisplayName = #{record.displayname,jdbcType=VARCHAR},
      name = #{record.name,jdbcType=VARCHAR},
      Value = #{record.value,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      factory_no = #{record.factoryNo,jdbcType=VARCHAR},
      parent_uri = #{record.parentUri,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <insert id="insertBatch"  parameterType="java.util.List" >
    insert into tb_syn_base_detail (id, uri, typeDefinitionUri,
      BrowsePath, Description, BrowseName,
      DisplayName, name, Value,
      create_time, factory_no, parent_uri
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (#{item.id,jdbcType=INTEGER}, #{item.uri,jdbcType=VARCHAR}, #{item.typedefinitionuri,jdbcType=VARCHAR},
      #{item.browsepath,jdbcType=VARCHAR}, #{item.description,jdbcType=VARCHAR}, #{item.browsename,jdbcType=VARCHAR},
      #{item.displayname,jdbcType=VARCHAR}, #{item.name,jdbcType=VARCHAR}, #{item.value,jdbcType=VARCHAR},
      #{item.createTime,jdbcType=TIMESTAMP}, #{item.factoryNo,jdbcType=VARCHAR}, #{item.parentUri,jdbcType=VARCHAR}
      )
    </foreach>
  </insert>

</mapper>